# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Production
/build

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
